* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    /* shorthand -> background: color image repeat position(x e y)/size */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
    overflow-y: hidden;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

/* CONTAINER  */
#container {
    width: 100%;
    max-width: 768px;
    margin: 56px auto 0px;   /*auto - para centralizar display:block*/
    padding: 0 24px;
}

/* PROFILE */
#profile {
    text-align: center;  /*centralizar display:inline*/
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    margin-top: 8px;
    font-weight: 500;
    line-height: 24px;
}

/* SWITCH BUTTON */
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    background: white var(--switch-bg-url) no-repeat center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: slide-out 0.3s;
}

.light #switch button {
    animation: slide-in 0.3s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    height: 24px;
    width: 64px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* SWITCH ANIMATION */
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

/* BUTTON LINKS */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border-radius: 8px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    /* vendor prefixer pra previnir problemas nos navegadores */
    -webkit-backdrop-filter: blur(4px);

    transition: background 0.2s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* SOCIAL LINKS */
#social-links {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 24px 0;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 16px;
    transition: background 0.2s;
}

#social-links a:hover {
    background: var(--highlight-color);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
    :root {
        --bg-url: url('./assets/bg-desktop.jpg');
    }

    .light {
        --bg-url: url('./assets/bg-desktop-light.jpg');
    }
}